.layoutMain {
    padding-top: 20px;
    height: 100%;
}

.blurBackground {
    filter: blur(10px); /* Arka planı bulanıklaştırır */
    transition: filter 0.3s ease-in-out; /* Geçişin daha yumuşak görünmesini sağlar */
}