.profile {
    height: 100vh;
    margin: 0px 150px;
}

.sideBar {
    background-color: rgb(255, 255, 255);
}

.tab {
    font-size: 13px;
    padding: 10px 0px;
}

.active {
    color: rgb(53, 212, 153); /* Beyaz yazı */
}