.profile {
    height: 100vh;
    padding: 0px 150px;
}

.sideBar {
    background-color: rgb(255, 255, 255);
}

.tab {
    font-size: 13px;
    padding: 10px 0px;
}

.active {
    color: #F2B28C; /* Beyaz yazı */
}