.login {
    display: flex;
    justify-content: center;
    align-items: center; /* Dikey hizalama */
    height: 80vh; /* Yüksekliği tam ekran yap */
}

.inCard {
    display: flex;
    justify-content: center;
}

.forgotBackground {
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec, #bcccdc);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}